$facebookBlue:#3b5998;
$twitterBlue:#1c94e0;
$lineGreen:#00b900;
$youtubeRed:#ff0000;

$GrayColor:#4d4d4d;
$dGrayColor:#333;
$BGcolor:#7cbfb4;
$dBGcolor:#308375;
$lPcolor:#fed5d6;
$Pcolor:#F28587;
$dPcolor:#a72d30;

$mobileMinWidth:280px;
$deskMinWidth:1200px;
$deskMaxWidth:2560px;

$DAheadH:44px;
$DAborderW:5px;
$SmallBox3Dsize:60px;
$MiddleBox3Dsize:80px;
$PigBox3Dsize:100px;

%textIndent{
  white-space:nowrap;
  overflow:hidden;
}
%textIndentOut{
	text-indent:120%;
  @extend %textIndent;
}
%textIndentDot{
  text-overflow: ellipsis;
  @extend %textIndent;
}
// 多行文字超出變… (缺-webkit-line-clamp)
%multiLineOverflowDot{
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  display:-webkit-box;
}
%ulReset{
  list-style: none;
	padding-left: 0;
	margin:0;
}
// 偽元素三角形基本設定
%beforeAfterTriangleBaseSet{
	content:"";
	width:0;
	height:0;
	border-style:solid;
}
%posaT0L0{
  position:absolute;
	top:0;
	left:0;
}
%posfT0L0{
  position:fixed;
  top:0;
  left:0;
}
%posaT50pL50p{
  position:absolute;
  top:50%;
  left:50%;
}
%maPosaT0L0R0B0{
  margin:auto;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
%posaT50pL50pTran3d-50p{
  @extend %posaT50pL50p;
  transform:translate3d(-50%,-50%,0);
}
%w100pH0PosaT0L0{
	width:100%;
	height:0;
  @extend %posaT0L0;
}
%wh100pPosaT0L0{
	width:100%;
	height:100%;
  @extend %posaT0L0;
}
%wh100pPosfT0L0{
	width:100%;
	height:100%;
  @extend %posfT0L0;
}
%disFlexJustifyAlignCenter{
  display:flex;
	align-items:center;
	justify-content:center;
}
// @include multi_line_overflow_dot(4); // 多(4)行文字超出變…
@mixin multi_line_overflow_dot($lines){
	@extend %multiLineOverflowDot;
  -webkit-line-clamp: $lines;
}
// 修改input placeholder的文字樣式
// 和::placeholder相同，但支援度好。
@mixin input_placeholder_text_style{
  // Firefox 4-18瀏覽器
  &:-moz-placeholder{@content;}
  // Firefox 19+瀏覽器
  &::-moz-placeholder{@content;}
  // IE10瀏覽器，要注意的是IE9以下不支援
  &:-ms-input-placeholder{@content;}
  // Webkit瀏覽器(如：chrome、Safari等等)
  &::-webkit-input-placeholder{@content;}
}

@function size_pxToVw($fontSizePx, $screenWidth){
	@return calc($fontSizePx / $screenWidth) * 100vw;
}
// size_pxToVw(50,1920) 